In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pubchempy as pcp

In [37]:
df1 = pd.read_csv("data/raw/PROTACXN_P35372_chembldrugtargets (1).csv")
df1_filt = df1.loc[:, ['cid', 'action']]

df2 = pd.read_csv("data/raw/PROTACXN_P35372_chembldrugtargets.csv")
df2_filt = df2.loc[:, ['cid', 'action']]

df3 = pd.read_csv("data/raw/PROTACXN_P35372_drugbank.csv")
df3_filt = df3.loc[:, ['cid', 'drugaction']]
df3_filt.rename(columns = {'drugaction': 'action'}, inplace=True)

df4 = pd.read_csv("data/raw/PROTACXN_P35372_gtopdb.csv")
df4_filt = df4.loc[:, ['cid', 'action']]

In [38]:
df = pd.concat([df1_filt, df2_filt, df3_filt, df4_filt], ignore_index=True, sort=False)
df.groupby(df.cid.tolist(), as_index=False).size()

         index  size
0         2159     1
1         2160     1
2         2562     1
3         3345     3
4         3821     1
..         ...   ...
168  132990963     1
169  132990975     1
170  134156377     1
171  137434175     1
172  145993966     1

[173 rows x 2 columns]

In [39]:
df_out = df.sort_values('cid')
# df_out = df_out.set_index('cid')
def upper_str(x):
    try: x = x.upper()
    except: pass
    return x
df_out['action'] = df_out['action'].apply(upper_str)

In [40]:
df_out

           cid        action
110       2159       AGONIST
68        2160        BINDER
120       2562    ANTAGONIST
48        3345       AGONIST
167       3345  FULL AGONIST
..         ...           ...
126  132990963       AGONIST
124  132990975       AGONIST
8    134156377       AGONIST
207  137434175    ANTAGONIST
60   145993966       AGONIST

[212 rows x 2 columns]

In [41]:
# def smiles_conv(x):
#     c = pcp.Compound.from_cid(x)
#     return c.isomeric_smiles

import requests
from requests.sessions import Session
def smiles_conv(x):
    with requests.Session() as session:
        url = "https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{}/property/CanonicalSMILES/JSON".format(x)
        with session.get(url) as response:  
            doc = response.json()
            
    return doc["PropertyTable"]["Properties"][0]["CanonicalSMILES"]
df_out['smiles'] = df_out['cid'].apply(smiles_conv)

In [42]:
df_out.set_index('cid', inplace=True)

In [43]:
df_out.set_index('cid', inplace=True)
df_out = df_out[['cid', 'smiles', 'action']]
df_out.to_csv('data/processed/test.csv')

KeyError: "None of ['cid'] are in the columns"

In [ ]:
df.shape

(212, 2)